* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  font-size: 25px;
  padding-bottom: 10px;
}
img {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("/trabalhosGitHub/trabalho_faculdade_html_css/html/receitas-de-minas/img/food-wallpaper-200802192415251920x1200.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  text-align: center;
  height: 40px;
  background-color: rgb(243, 140, 4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  position: sticky;
  top: 0;
}

main {
  display: flexbox;
  justify-content: center;
  text-align: center;
}

.receitas {
  background-color: aliceblue;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  justify-items: center;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 16px 0;
}
